# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so

# Virtual environment
env/
venv/
.timemixer-env/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data and outputs
*.csv
*.tsv
*.mat
*.hea
*.zip
*.tar.gz
data/
dataset/
outputs/
results/
logs/
checkpoints/
*.pth
*.pt
*.h5

# Colab and system files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Environment files
.env
*.env

# Slurm/cluster logs
*.out
*.err
